## AWS Authentication Settings ##
#################################
aws_access_key_id     = "<XXXXXXXXXXXXXXXXXXX>"
aws_secret_access_key = "<XXXXXXXXXXXXXXXXXXX>"
key_name              = "<my_aws_key>"

## AWS Infrastructure Settings ##

# VPC Name 
vpc_name = "my-vpc"

/*
Please select an AZ: 
    1:eu-west-1, 2:eu-west-3, 3:eu-central-1, 4:us-east-1, 
    5:us-east-2, 6:us-west-1, 7:us-west-2, 8:ap-southeast-1, 
    9:ap-southeast-2, 10:sa-east-1
*/
available_aws_regions = "1"



# If you want to deploy Splunk Enterprise, please uncomment and set the following two variables below #

# Please select an EC2 instance type: 1:t2.micro, 2:t2.small, 3:t2.medium, 4:t2.large, 5:t2.xlarge, 6:t2.2xlarge
# selected_ec2_instance_type = "2"

# Please enter a number for the EC2 instance volume size in GiB
# root_block_volume_size = "20"